.iconsF {
  display: flex;
  column-gap: 25px;
}
.iconF {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.iconF:hover {
  outline-offset: 4px;
}
.iconF i {
  margin: auto;
}
.iconF:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon--twitter:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #000000 0%,
    #69c9d0 45%,
    #ee1d52 90%
  );
  outline-color: #ffffff;
}
.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  
}
.footer ul li {
  display: inline-block;
  padding: 0 30px;
}
.footer ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}