section {
  min-height: 100vh;
  padding: 5rem 0;
}

h2 {
  color: #2f5703;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
}

nav {
  background: linear-gradient(to right, rgb(255, 224, 0), rgb(121, 159, 12));
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100vw - 6rem);
  z-index: 2;
  box-shadow: 0 0 2px 2px rgab(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
