@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Lobster, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  h2 {
    @apply text-xl font-bold;
  }
  .Center {
    @apply flex justify-center items-center;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px]  cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center  px-[18px] border rounded;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-primary ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-2 shadow-md bg-gray-50 absolute w-full list-none rounded-b;
  }
  .price {
    @apply absolute right-0 mt-6 rounded-l-full w-[70px] h-[30px] text-center p-1  text-sm text-white shadow-md;
  }
}

.MainBg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(154, 224, 255, 1) 50%,
    rgba(0, 150, 216, 1) 100%
  );
}

.TextColors {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple, magenta);
}

.ColorSer {
  background-image: linear-gradient(-225deg, #f839e3 0%, #a647ed 48%, #7257f4 100%);
}
.ColorRent {
  background-image: linear-gradient(-225deg, #fee56d 0%, #fa8d9a 48%, #f541c5 100%);
}
.ColorProd {
  background-image: linear-gradient(-225deg, #37f782 0%,   #5daeb4 48%, #8b65ed 100%);
}

.ColorBg {
  background-image: linear-gradient(-225deg, #f839e3 0%, #a647ed 48%, #7257f4 100%);
}

.AnimatedBg {
  background: linear-gradient(-45deg, #ee7752, #f5689e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NavLink a {
  text-decoration: none;
  position: relative;
}

.NavLink a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #e69b00;
  transition: width 0.3s;
}

.NavLink a:hover::after {
  width: 50%;
}

.gallery-items {
  display: flex;
  overflow-x: hidden;
}

.gallery-item {
  flex: 0 0 25%;
}
