@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Lobster, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #31aee5;
  --white: #ffffff;
  --bg: #f5f5f5;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  h2 {
    @apply text-xl font-bold;
  }
  .Center {
    @apply flex justify-center items-center;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px]  cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center  px-[18px] border rounded;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-primary ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-2 shadow-md bg-gray-50 absolute w-full list-none rounded-b;
  }
  .price {
    @apply absolute right-0 mt-6 rounded-l-full w-[70px] h-[30px] text-center p-1  text-sm text-white shadow-md;
  }
}

.MainBg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(154, 224, 255, 1) 50%,
    rgba(0, 150, 216, 1) 100%
  );
}

.BTColor {
  background: rgb(49, 174, 229);
  background: linear-gradient(
    180deg,
    rgba(49, 174, 229, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.TextColors {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple,
    magenta
  );
}

.ColorSer {
  background-image: linear-gradient(
    -225deg,
    #f839e3 0%,
    #a647ed 48%,
    #7257f4 100%
  );
}
.ColorRent {
  background-image: linear-gradient(
    -225deg,
    #fee56d 0%,
    #fa8d9a 48%,
    #f541c5 100%
  );
}

.ColorBg2 {
  background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}
.ColorProd {
  background-image: linear-gradient(
    -225deg,
    #37f782 0%,
    #5daeb4 48%,
    #8b65ed 100%
  );
}

.ColorBg {
  background-image: linear-gradient(
    -225deg,
    #f839e3 0%,
    #a647ed 48%,
    #7257f4 100%
  );
}

.AnimatedBg2 {
  background: linear-gradient(-45deg, #ee7752, #f5689e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.AnimatedBg {
  background: linear-gradient(-45deg, #ee7752, #f5689e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NavLink a {
  text-decoration: none;
  position: relative;
}

.NavLink a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #e69b00;
  transition: width 0.3s;
}

.NavLink a:hover::after {
  width: 50%;
}

.gallery-items {
  display: flex;
  overflow-x: hidden;
}

.gallery-item {
  flex: 0 0 25%;
}

.containerHome {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}








.containerHome {
  max-width: 998px;
  padding: 1rem 1rem;
  margin: 0 auto;
}



.swiper_container {
  height: 550px;
  padding: 1rem 0;
  position: relative;
}

.swiper-slide {
  width: 17rem;
  height: 25rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 500px;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 12rem !important;
  }

}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 59% !important;
  transform: translateX(-59%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: #f0f0f0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 41%;
  transform: translateX(-45%);
}

.slider-controler .slider-arrow ion-icon {
  font-size: 1.6rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 25rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.react-floater-animated {
  animation: floating 3s ease infinite;
  will-change: transform;
}
